@charset "utf-8";

html{
  color: #000000;
  background: #ffffff;
  font-size: 14px;
  line-height: 1.8;
}

*{
  margin: 0;
  padding 0;
  box-sizing: border-dox;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  color:#333333;
}

li{
  list-style-position: inside;
}

.mb_s{
  margin-bottom: 10px;
}

.mb_m{
  margin-bottom: 20px;
}

.mb_l{
  margin-bottom: 40px;
}


.hidden_box {
  margin: 2em 0;/*前後の余白*/
}

.hidden_box label {
  padding: 15px;
  font-weight: bold;
  border: solid 2px black;
  cursor :pointer;
}

.hidden_box label:hover {
  background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
  display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}
